#user1{
border-style: solid;
height: 500px;
width : 400px;
padding-top: 2px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
}

#top-bar{
float :right;
position :relative;
bottom :50px;
height :10px;
width :50px;
}
#username1{
height: 20px;
width : 400px;
}

#showMessage1{
position: relative;
width : 400px	
}

#chat_form{
position: relative;
bottom :20px;
width : 400px;
left :10px;	
}

#msg1{
position : relative;
left :5px;
bottom : 10px;
background-color: lightblue;
border-style: solid;
height:410px;
width : 400px;
}
#tuser1{
	height :10px;
	width :400px;
}

#online_users{
	float :right;
	position :relative;
	left : 40px;
	border-style: solid;
	height:500px;
    width : 200px;
}

#a{
	text-align : center;
}